//Variables
$black: #000000;
$white: #ffffff;
$grey: #ABABAB;
$lightgrey: #FAFAFA;
$padding: 100px;

//Mixins
@mixin clearfix{
    &::after {
        content: "";
        clear: both;
        display: table;
      }
}

//Fonts
@font-face {
    font-family: 'ApercuPro';
    src: url('/static/fonts/ApercuPro.eot?#iefix') format('embedded-opentype'),  
        url('/static/fonts/ApercuPro.otf')  format('opentype'),
        url('/static/fonts/ApercuPro.woff') format('woff'), 
        url('/static/fonts/ApercuPro.ttf')  format('truetype'), 
        url('/static/fonts/ApercuPro.svg#ApercuPro') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
font-family: 'Bodoni';
src: url('/static/fonts/BodoniSvtyTwoITCTT-Book.eot?#iefix') format('embedded-opentype'), 
    url('/static/fonts/BodoniSvtyTwoITCTT-Book.ttf')  format('truetype'), 
    url('/static/fonts/BodoniSvtyTwoITCTT-Book.svg#BodoniSvtyTwoITCTT-Book') format('svg');
font-weight: 100;
font-style: normal;
}
  
//Styles
html,
body{
    padding: 0;
    margin: 0;
    background: $black;
}

.quizContainer{
    position: absolute;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'ApercuPro', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    background: url(https://cdn.shopify.com/s/files/1/0058/3450/6307/files/quiz-bg.jpg);
    background-size: cover;
    background-color: $black;
    background-repeat: no-repeat;

    &:before,
        &:after{
            content:'';
            height: 50px;
            display: block;
            background: transparent;
        }

    .gradient{
        background: linear-gradient(to right, red, purple);
        padding: 1px;
        width: 100%;
        max-width: 800px;
    }

    .wrap{
        display: flex;
        flex-direction: column;
        background: $white;
        transition: .3s;

        header{
            padding: 50px;
            background-color: $black;
            color: $white;
        }

        .content{
            padding: 20px 50px;
            flex: 1;
            min-height: 250px;
        }

        footer{
            padding: 20px 50px;
            display: flex;
            justify-content: center;
        }
    }

    &.index{
        .wrap{
            display: block;
            padding: 100px 50px;
            background-color: $black;
            color: $white;

            a.btn{
                border-color: $white;
                color: $white;
            }
        }
    }

    &.intro{
        .wrap{
            display: block;
            padding: $padding;
        }
    }

    &.question{

        .counter{
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            .line{
                width: 20px;
                height: 2px;
                background-color: $grey;
                display: inline-block;
                margin: 2px;

                &.active{
                    background-color: $white;
                }
            }
        }

        .answerWrap{
            width: 100%;
            animation: .5s ease-out 0s 1 fadeIn;

            &.leaving{
                opacity: 0;
                animation: .5s ease-out 0s 1 fadeOut;
            }
        }

        .content{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .answer{
            position: relative;
            border: 1px solid $black;
            padding: 10px 20px;
            white-space: nowrap;
            display: inline-block;
            margin: 5px;
            cursor: pointer;
            transition: .2s;

            &:hover,
            &.selected{
                color: $white;
                background: $black;
            }

            .order{
                position: absolute;
                top: 0;
                right: 0;
                color: $black;
                background-color: $white;
                width: 20px;
                height: 20px;
                transform: translate(40%, -40%);
                border: 1px solid $black;
                border-radius: 100%;
            }
        }

        a.btn{
            margin: 0 10px;
        }
    }

    &.share{
        position: relative;

        footer{
            display: block;
        }

        .content{
            flex-direction: column;
            justify-content: center;
            display: flex;
        }

        form{
            margin: 50px 0;

            input{
                border-radius: 5px;
                width: 400px;
                max-width: 100%;
                padding: 10px 20px;
                font-size: 16px;
                border: 1px solid $grey;
                display: block;
                margin: 0 auto 20px;
                box-sizing: border-box;

                &.error{
                    border-color: red;
                }

                &.half{
                    width: 190px;
                    display: inline-block;

                    &:nth-of-type(2n + 1){
                        margin-right: 20px;
                    }
                }
            }
        }

        .alert{
            color: red;
            margin: -10px 0 10px;
        }
    }

    &.results{
        position: relative;
        text-align: left;

        .gradient{
            padding: 0;
        }

        header{
            background-color: $white;
            color: $black;
        }

        .content{
            flex-direction: column;
            background-color: $lightgrey;
        }

        .productBlock{
            width: 100%;
            margin-bottom: 50px;

            .description{
                margin-bottom: 20px;
            }
        }
    }

    //Typography
    h1{
        font-size: 2em;
        margin-bottom: 20px;
        font-family: 'Bodoni', 'Times New Roman', Times, serif
    }

    h3{
        font-size: 1.5em;
        margin: 0 0 10px;
        text-transform: uppercase;
    }

    h4{
        font-size: 1.2em;
        margin: 0 0 1em;
    }

    p{
        margin-bottom: 1em;
    }

    a{
        cursor: pointer;
    }

    a.btn{
        display: inline-block;
        padding: 5px 15px;
        text-transform: uppercase;
        border: 1px solid $black;
        border-radius: 20px;
        color: $black;
        text-decoration: none;
        cursor: pointer;

        &:hover:not(.inactive){
            background-color: $black;
            color: $white;
        }

        &.inactive{
            color: $grey;
            border-color: $grey;
            cursor: default;
        }
    }

    a.greyed{
        margin-top: 10px;
        display: block;
        color: $grey;
        text-decoration: underline;

        &:hover{
            color: $black;
        }
    }

    //Reset Block
    .resetQuiz{
        position: fixed;
        top: 20px;
        right: 20px;
        background: black;
        color: white;
        padding: 10px 20px;
        text-transform: uppercase;

        &:hover{
            color: #aaa;
        }
    }
}

//Product Block

.productBlock{
    @include clearfix;

    .productImage{
        float: left;
        width: 30%;

        img{
            max-width: 100%;
        }
    }

    .productText{
        float: left;
        width: 60%;
        margin-left: 10%;
        text-align: left;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media only screen and (max-width: 600px) {
    .quizContainer{
        padding: 0;
        background: $black;

        .wrap{
            header{
                padding: 20px;
            }

            .content{
                min-height: 0;
                padding: 50px 20px;
            }

            footer{
                padding: 20px;
            }
        }

        &.index,
        &.intro{
            .wrap{
                padding: 50px 20px;
            }
        }

        &.question{
            .answer{
                &:hover{
                    background: transparent;
                    color: $black;
                }
            }
        }

        &.share{
            form{
                width: 100%;
            }
        }

        &.results{
            margin: 0;

            .wrap{
                header{
                    padding: 20px;
                }
            }
        }

        .productBlock{
            .productImage{
                float: none;
                width: 70%;
                margin-left: 15%;
            }

            .productText{
                float: none;
                width: 100%;
                margin-left: 0;
            }
        }

        h1{
            font-size: 1.5em;
        }
    }
  }